.navbar {
    border-right: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 100vh;
    background: #e4e3e3;
}

.title {
    display: inline-block;
    padding: 10.7px;
    /* background: #FF7926; */
    background: rgba(255, 132, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

.title img{
    height: 5.1vh;
    width: 2.3vw;
}

.title h1{
    font-size: 2.4em;
}

.nav-link {
    border-top: 1px solid rgb(0, 0, 0);
    padding: 20px;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    /* background: #e4e3e3; */
}

.nav-link:active{
    border-left: 7px solid blue;
    background: #ffffff;
}

.register-event {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.sub-event {
    padding-left: 50px;
}