event_registration .body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
    
}
.event_registration{
    margin-left: 300px;
}

.event_registration h1 {
	text-align: center;
	margin-bottom: 30px;
}

form {
	width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #999;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="tel"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #f2f2f2;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #0077cc;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: #005299;
}
