.main {
    width: 83vw;
}

.mainNavbar {
    display: flex;
    justify-content: space-between;
    background: #0303bf;
    color: #ffffffed;
    padding: 20px;
    border-bottom: 1px solid black;
}

.profile-container {
    display: flex;
}